.containerCreate{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    border: 2px solid #393E46;
    border-radius: 25px;
    padding: 15px;
    color: #393E46;
}
.containerCreate div{
    display: flex;
    flex-direction: column;
    margin: 10px
}
.containerCreate input{
    width: 250px;
    border-radius: 5px;
}
.containerCreate h1{
    padding: 10px;
    margin: 0px;
    color:#00ADB5;
}
.containerCreate button{
    width: 90px;
    height: 25px;
    background-color: white;
    border: 3px solid #393E46;
    border-radius: 5px;
    color:#393E46;
    margin: 10px;
}
.containerCreate button:hover{
    cursor: pointer;
    border: 3px solid #00ADB5;
    color: #00ADB5;
}