.usuarios h3{
    color: #00ADB5;
}
.usuarios{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 2px solid #393E46;
    border-radius: 25px;
    align-items: flex-start;
    justify-content: left;
    padding: 15px;
    

}
.usuariosTitulo{
    display: flex;
    justify-content: center;
}
.containerUsuarios{
    margin: 0 auto;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 20px;
    justify-content: center;
    
}
.containerUsuarios a{
    text-decoration: none;
    color: #00ADB5;
    padding: 15px
}
.gridUsuarios{
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 20px;
}
.containerBotoes{
    display: flex;
    justify-content: space-around;
}
.containerBotoes button:hover{
    cursor: pointer;
}
.containerBotoes button{
    margin: 0 20px;
    width: 90px;
    height: 25px;
    background-color: white;
    border: 3px solid #00ADB5;
    border-radius: 10px;
    color:#00ADB5;
}
.linkUsuario{
    display: flex;
    justify-content: flex-end;
    
}